.container{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(90deg, rgb(28, 54, 67) 0px, rgb(39, 59, 71) 25%, rgb(30, 83, 114));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

  }
  #tablero_datos{
    padding: 0px;
    
  }
  #villaplatzi{
    border-right: 50%;
  }